### Extracting the coloumn name where it has been flagged as one

In [7]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import re
from re import search

df= pd.DataFrame({'Strom':[1,0,1,1,0,0,0,0,1],'Snow':[1,0,1,0,0,1,1,0,1],'Rain':[1,0,1,1,0,0,0,0,1],'Flood':[1,0,1,0,0,1,1,0,1]})

In [2]:
df

   Strom  Snow  Rain  Flood
0      1     1     1      1
1      0     0     0      0
2      1     1     1      1
3      1     0     1      0
4      0     0     0      0
5      0     1     0      1
6      0     1     0      1
7      0     0     0      0
8      1     1     1      1

In [3]:
cols = df.columns

In [4]:
cols

Index(['Strom', 'Snow', 'Rain', 'Flood'], dtype='object')

In [5]:
df['Name']='NA'
for i in range(df.shape[0]):
    n=[]
    for j in cols:
        if df[j].iloc[i] == 1 :
            n.append(j)
    df['Name'].iloc[i]=n

C:\Users\Anaconda\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [6]:
#final output
df

   Strom  Snow  Rain  Flood                        Name
0      1     1     1      1  [Strom, Snow, Rain, Flood]
1      0     0     0      0                          []
2      1     1     1      1  [Strom, Snow, Rain, Flood]
3      1     0     1      0               [Strom, Rain]
4      0     0     0      0                          []
5      0     1     0      1               [Snow, Flood]
6      0     1     0      1               [Snow, Flood]
7      0     0     0      0                          []
8      1     1     1      1  [Strom, Snow, Rain, Flood]

### Flagging an occourance of word in text body by creating a new column.

In [ ]:
# Function to check keywords
def check_Keyword(text,strin):
    ls=re.findall(strin.lower(),text.lower())
    if len(ls)==0:
        return 0
    else:
        return 1

# Creating new columns with the keywords and flaging them
for j in l1:
    k = j
    #print(k)
    test[k]='NA'
    for i in range(test.shape[0]):
        mail=test['Text_Body'].iloc[i]
        #print(k)
        fl =check_Keyword(str(mail),str(k))
        test[k].iloc[i]=fl

#Creating 
df['Keyword']=''
for j in col:

    for i in range(df.shape[0]):
        if df[j].iloc[i] ==1:
            df['Keyword'].iloc[i] = j

#### Add space between set of words

In [9]:
l1= 'wear|wore|worn|wears'

In [12]:
test = l1
lenth = len(test)+2
test1 = test.center(lenth)
l2 = test1.replace('|',' | ')
l2

' wear | wore | worn | wears '